<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SauceDemo Automation Suite">

    <!-- TestNG Setup-->
    <test name="SauceDemo Tests chrome">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
        <packages>
            <package name="com.learn.automation.tests"/>
        </packages>
    </test>

    <test name="Cucumber Tests">
        <classes>
            <class name="com.learn.automation.cucumber.runners.CucumberRunner"/>
        </classes>
    </test>

    <!--    <test name="SauceDemo Tests edge">-->
    <!--        <parameter name="browser" value="edge"/>-->
    <!--        <groups>-->
    <!--            <run>-->
    <!--                <include name="regression"/>-->
    <!--            </run>-->
    <!--        </groups>-->
    <!--        <packages>-->
    <!--            <package name="com.learn.automation.tests"/>-->
    <!--        </packages>-->
    <!--    </test>-->

    <!--    <test name="SauceDemo Tests firefox">-->
    <!--        <parameter name="browser" value="firefox"/>-->
    <!--        <groups>-->
    <!--            <run>-->
    <!--                <include name="regression"/>-->
    <!--            </run>-->
    <!--        </groups>-->
    <!--        <packages>-->
    <!--            <package name="com.learn.automation.tests"/>-->
    <!--        </packages>-->
    <!--    </test>-->
</suite>